__pycache__/
.pytest_cache/
*.pyc
informe/informe_tecnico.*
!informe/informe_tecnico.tex
Template_Tareas_Sistemas_Distribuidos.zip
informe/template/lab01_informe.tex
data/967_buildings.csv.gz
967_buildings.csv.gz
data/967_buildings.csv.gz
